.card-container {
    width: 100%;
    aspect-ratio: 1/1.5;

    perspective: 32rem;

    padding: 0;
}

.card-container.ready {
    opacity: 0.5;
}

.card {
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    position: relative;

    transition: 0.3s ease;
    text-align: center;
    border-radius: 0.3rem;
}

.card-front,
.card-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    background: #111;
    border: 1px solid #444;

    border-radius: inherit;
    overflow: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-container .card svg {
    width: 48px;
    height: 48px;
}

button:hover:not(:disabled) > .card-container:not(.selected) .card {
    transform: translateY(-20%);
}

.card-container.hovered .card {
    transform: translateY(20%);
}

.card-container.selected .card {
    outline: 1px solid white;
    transform: translateY(20%) rotateY(180deg);
}

button > .card-container.selected .card {
    transform: translateY(-20%) rotateY(180deg);
}