.card-desk {
  position: relative;
  width: 100%;

  display: flex;

  &:first-of-type {
    flex-direction: column;
  }

  &:last-of-type {
    flex-direction: column-reverse;
  }

  & > .player-info {
    width: 100%;
    justify-content: space-between;
  }
}

.card-grid {
  width: 100%;
  aspect-ratio: 20/9;
  display: flex;
  justify-content: space-around;

  & > * {
    flex: 0 0 calc(100% / 3 - var(--thin-square-size) * 0.5);
  }

  &.ready {
    opacity: 0.5;
  }
}

